<?xml version="1.0"?>

<launch>



	<include file="$(find rplidar_ros)/launch/rplidar.launch" />


	<rosparam file="$(find slam_project_buggy)/launchBuggy/footprint_robot.yaml" command="load" ns="/costmap/costmap" />


	<node pkg="map_server" type="map_server" name="map_server"  args="$(find slam_project_buggy)/data/final_data/house_father/map.yaml" />

	<node pkg="costmap_2d" type="costmap_2d_node" name="costmap" output="screen" >
		<param name="publish_frequency" type="double" value="10.0" />
	</node>


	<node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster"  args="0 0 0 0 0 0 /base_link /laser 100" />
 

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find slam_project_buggy)/rviz/test_footprint.rviz" />






	<node name="amcl" pkg="amcl" type="amcl" output="screen">
		<remap from="scan" to="scan"/>
		<remap from="odom_frame_id" to="map"/>
		
		<param name="min_particles" value="10" type="int" />
		<param name="max_particles" value="500" type="int" /> 

	</node>

	<include file="$(find slam_project_buggy)/launch/hector_mapping.launch"/>



		<!-- <param name="odom_model_type" value="diff" type="string" /> -->
		<!-- <param name="odom_model_type" value="omni" type="string" /> -->
		<!-- <param name="odom_model_type" value="diff-corrected" type="string" /> -->
		<!-- <param name="odom_model_type" value="omni-corrected" type="string" /> -->







 </launch>