<?xml version="1.0"?>

<launch>

<!-- If this parameter is not set to false the scan will "add" each scan along the time -->
<param name="/use_sim_time" value="false"/>

	<!-- Includes -->

	<!-- Start the RPLidar -->
	<include file="$(find rplidar_ros)/launch/rplidar.launch" />

	<!-- Call the main file that call the Hector package -->
	<include file="$(find slam_project_buggy)/launch/slam.launch"/>


	<node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster"  args="0 0 0 0 0 0 /base_link /laser 100" />

	<node name="navigToPoint" pkg="slam_project_buggy" type="navigToPoint.py"/>

	<rosparam file="$(find slam_project_buggy)/launchBuggy/footprint_robot.yaml" command="load" ns="/costmap/costmap" />


</launch>
